

.top{
    height: 60px;
    background-color: #4d4d4d;
    border-bottom: 3px solid #363636;
    z-index: 100;
}

.menuicon{
    position: absolute;
    top: 10px;
    left: 30px;
    cursor: pointer;
    font-size: 47px;
    color: #191919;
    z-index: 100;
}

input[id="menu_icon"]{
  display: none;
}


