header{
    border-bottom: 2px solid #D0D0D0;
    margin:-6px;
}

.top{
    height: 60px;
    background-color: #F5F5F5;
}


.main_logo{
    position: absolute;
    top: 35%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: -99;
}

.menuicon{
    position: absolute;
    top: 10px;
    left: 25px;
    cursor: pointer;
    font-size: 40px;
    color: #494949;
    z-index: 100;
}

input[id="menu_icon"]{
  display: none;
}


