header{
    
    border-bottom: 3px solid #545454;
    margin:-7.7px;
}

.top{
    height: 65px;
    background-color: #4d4d4d;
}

.menuicon{
    position: absolute;
    top: 10px;
    left: 25px;
    cursor: pointer;
    font-size: 40px;
    color: #191919;
    z-index: 100;
}

input[id="menu_icon"]{
  display: none;
}


