body{
    background: #2c2c2c;
    margin: 0;
    padding: 0;
    height: 100vh;
}


body {
    margin: 0;
  }


.side_mid{
    background: #2c2c2c;
    position: absolute;
    width: 800px;
    height: 100%;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    border-left:2px solid black;
    border-right:2px solid black;

}

.side_mid_logo{
    position: absolute;
    width: 789px;
    height: 300px;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid red;
}

.side_mid_myprofile{
    position: absolute;
    width: 760px;
    height: 220px;
    top: 320px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid blue;
}

.img.logo{
    opacity: 0.5; 
    filter: alpha(opacity=50);

}


