body{
    background: #2c2c2c;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#particles-js{
    height: 100%;
}

body {
    margin: 0;
  }


.mid{
    background: #2c2c2c;
    position: absolute;
    width: 800px;
    height: 100%;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    border-left:2px solid black;
    border-right:2px solid black;
}

.mid_logo{
    position: absolute;
    width: 789px;
    height: 300px;
    top: 5px;
    left: 5px;
    border: 1px solid red;
}

.mid_mypofile{
    position: absolute;
    width: 760px;
    height: 220px;
    top: 320px;
    left: 20px;
    border: 2px solid blue;
}


