body{
    background-image:url("/img/main.png")
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-color:rgba(0, 0, 0, 0.65);
}
#particles-js{
    height: 100%;
}


.myprofile{
    position: absolute;
    top: 25%;
    left: 10%;

}

.myprofile_im{
    font-size: 100px;
    color: #fff;
    border-radius: 125px;
    background-color:rgba(0, 0, 0, 0.65);
}
