body{
    background-image:url("/img/main.png");
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-color:rgba(0, 0, 0, 0.65);
}
#particles-js{
    height: 100%;
}


.myprofile{
    position: absolute;
    top: 15%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.65);
}


.myname{
    font-weight: 550;
    font-size: 100px;
    color: #fff;
}

.main_tab{
    position: absolute;
    top: 60%;
    left: 65%;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label{
    display:inline-block;
    padding: 15px;
    width: 100px;
    text-align: center;
    color: white;
    cursor:pointer;
}

input[type="radio"]:checked +label{
    background:#999;
    color:#000;
}


.conbox{
    width: 100%;
    height: 0px;
    visibility:hidden;
    color: transparent;
}



input[id="tab01"]:checked ~ .con1{
    position: absolute;
    color: white;
    top: 140%;
    left: -10%;
    width: 120%;
    height: 1000%;
    visibility: initial;
    text-indent: 0px;
    border: 2px solid blue;
    transition:all ,1.3s;
}
input[id="tab02"]:checked ~ .con2 {
    position: absolute;
    color: white;
    top: 140%;
    left: -10%;
    width: 120%;
    height: 1000%;
    visibility: initial;
    text-indent: 0px;
    border: 2px solid blue;
    transition:all ,1.3s;
}
input[id="tab03"]:checked ~ .con3 {
    position: absolute;
    color: white;
    top: 140%;
    left: -10%;
    width: 120%;
    height: 1000%;
    visibility: initial;
    text-indent: 0px;
    border: 2px solid blue;
    transition:all ,1.3s;
}
