body{
    background: #2c2c2c;
}

body {
    margin: 0;
  }


.mid{
    position: absolute;
    width: 800px;
    height: 100%;
    top: 435px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.mid_logo{
    position: absolute;
    width: 789px;
    height: 300px;
    top: 5px;
    left: 5px;
    border: 1px solid red;
}

.mid_mypofile{
    position: absolute;
    width: 760px;
    height: 220px;
    top: 320px;
    left: 20px;
    border: 2px solid blue;
}


