header{
    
    border-bottom: 2px solid #D0D0D0;
    margin:-6px;
}

.top{
    height: 60px;
    background-color: #F5F5F5;
    
    
}


.main_logo{
    position: absolute;
    top: 35%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: -1;
}

.menu_icon{
    position: absolute;
    top: 10px;
    left: 25px;
}

.menuicon{
    font-size: 40px;
    color: #494949;
}


